:host {
  display: block;
}

.box {
  display: flex;
  overflow: auto;
  border: 2px solid transparent;
  box-sizing: border-box;
  margin: 1rem;
  min-height: 24px;
  position: relative;
}

.name {
  position: absolute;
  font-size: 80%;
  font-weight: 600;
  bottom: 0;
  right: 0;
  padding: 0 4px 0 4px;
  background: white;
}
